.todo-create {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.todo-create-input {
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;
    padding: 1rem;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #222831;
}

.todo-create-submit  {
    background: #76ABAE;
    width: 50%;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 16px;
    float: right;
    cursor: pointer;
    transition: background-color 100ms ease-in;
}

.todo-create-submit:hover {
    background: #568083;
}

.todo-create-error {
    color: #eb4646;
    margin: 0 0 1rem 0;
}